html, body, #root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(227, 227, 227);
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}


a{
    color: blue;
}

.Box{
    display: inline-block;
    text-align: left;
    border: 2px dashed black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
.SolidBox{
    text-align: left;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}